apiVersion: v1
kind: Secret
metadata:
  name: crossplane-provider-config
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "minio_server": "minio.minio-home.svc.cluster.local:443",
      "username": "admin",
      "password": "tH44#!#uT6%EG9!6"
    }
