apiVersion: v1
kind: Secret
metadata:
  name: crossplane-provider-config
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
        "minio_server": "s3-endpoint.example.org:443",
        "minio_user": "robot",
        "minio_password": "topSecr3t",
        "minio_ssl": "true"
    }
